body{
    background-color: black;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    place-content: center;
    align-items: center;
}

canvas#mesa{
    background-color: black;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}