@font-face {
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: 400;
    src: local('ArcadeClassic'), url('https://fonts.cdnfonts.com/s/6071/ARCADECLASSIC.woff') format('woff');
}

body{
    background-color: black;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    place-content: center;
    align-items: center;
    font-family: 'ArcadeClassic';
}

canvas#mesa{
    background-color: black;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}